<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="form.component.css">
    <link rel="stylesheet" href="/src/styles.css">
</head>

<body>
    <form>
        <div class="overall">
            <h1>TIME TO SUBMIT SOME OF YOUR FAVORITE QUOTES</h1>
            <div class="align">

                <div class="form">
                    <label for=""> words of wisdom </label>
                    <input class="input" type="text" name="quote"
                        [(ngModel)]="quote.quote">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for=""> Tell us who the author is </label>
                    <input class="input" type="text" name="author" [(ngModel)]="quote.author" /><br>
                </div>
                <div class="more">
                    <label class="kindly"> let us know who you are</label><br>
                    <input class="input" type="text" name="person" [(ngModel)]="quote.person" /><br>
                </div>
                <!-- <button (click)="log()" class="submit">submit</button> -->
            </div>
        </div>

    </form>

    <h1 class="is"> You can view the quote below</h1>


    <div class="display">


        <app-display> {{quote.quote}} </app-display>

    </div>
    <div class="lets-vote">
    <h2> vote for this quote</h2>
    <p>this quote currently has <strong>{{quote.upVote - quote.downVote}}</strong> votes</p>
    </div>
    <div class="votes">
        <button class="vote" (click)="vote()">Up vote</button>
        <button class="downvote" (click)="downVote()">Down vote</button>
    </div>

    <div appLightquote class="details">
        <app-details> Said by {{quote.author}} and submitted by {{quote.person}}</app-details>
    </div>


</body>

</html>