<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="form.component.css">
</head>

<body>
    <form>
        <div class="form">
            <label for=""> Insert the words of wisdom here</label>
            <input class="input" type="text" name="quote" [(ngModel)] = "quote.quote">
            <label for=""> Tell who the author is </label>
            <input class="input" type="text" name="author"[(ngModel)] = "quote.author"/><br>
        </div>
        <div class="more">
            <label class="kindly"> kindly let us know who you are</label><br>
            <input class="input" type="text" name="person" [(ngModel)] = "quote.person"/><br>
            <button (click)="log()">submit</button>
        </div>

        <div>
            <button>Vote</button>
            <button>Delete</button>
        </div>
       <p>{{quote.quote}}</p>
    </form>
</body>

</html>