.form{
    font-size:22px;
    margin-left: 20vh;

    
   
}
.input{
    height:15vh;
    width: 40vh;
    margin-left: 3vh;
    margin-right: 2vh;
    font-size: 20px;
    background: none;
}
.more{
    font-size: 22px;
    margin-left: 78vh;
    margin-top: 8vh;
}
.kindly{
    margin-left: 8vh;
}
.overall{

    background-image:url(/assets/books.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.submit{
    margin-left: 95vh;
    margin-top: 6vh;
    height:6vh;
    width: 10vh;
}