.form{
    font-size:22px;
    margin-left: 15vh;

    
   
}
.input{
    height:20vh;
    width: 50vh;
    margin-left: 3vh;
    margin-right: 2vh;
    font-size: 20px;
    background-color: rgb(255, 252, 252);
    border-radius: 4px;
    opacity: .75;
    
    
}
.more{
    font-size: 22px;
    margin-left: 70vh;
    margin-top: 8vh;
}
.kindly{
    margin-left: 8vh;
}
.overall{

    background-image:url(/assets/man.jpg);
    height: 100vh;
    /* background-color: rgb(104, 101, 101); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
   font-weight: bold;
   margin-bottom: 10vh;
}
.submit{
    margin-left: 95vh;
    margin-top: 6vh;
    height:6vh;
    width: 10vh;
}
.votes{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 0vh;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 40px;
    color:white;
    margin-top: 30vh;
    background-image: url(/assets/tap.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.align{
    position: absolute;
    margin-top: 32vh;
    
}
h1{ position: absolute;
   
    margin-left: 55vh;
    font-size: 31px;
    color: white;
    margin-top: 1vh;
}
label{
    font-size: 25px;
}
.vote{
    background-color: green;
    height: 6vh;
    width: 12vh;
    border: none;
    border-radius: 8px;
    color: white;
    margin-right: 5vh;
}
.downvote{
    background-color: red;
    height: 6vh;
    width: 12vh;
    border: none;
    border-radius: 8px;
    color: white;
    margin-right: 5vh;
}
.is{
    color: black;
    font-size: 40px;
    margin-left: 70vh;
   
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 40px;
    color:white;
    margin-top: 10vh;
    background-image: url(/assets/woman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}