.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100%;
    font-size: 18px;
    background-image: url(../assets/glasses.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    background-color: black;
    height: 5vh;

}
a{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
a:hover{
    color:red
}
.copy{
    background-color: black;
    height:30vh;
    color: white;
    
}
h1{
 color: white;
 font-size: 60px;
}
p{
    color: white;
    font-size: 35px;
    
}
.quotify{

   position:absolute;
    font-size: 32px;
    margin-right:180vh;
    margin-top: 0.5vh;
}
.contact{
    
    font-size: 20px;
    
}
.info{
    font-size: 20px;
}
.follow{
    position: absolute;
    margin-left: 120vh;
    margin-top: 10vh;
}
.stylecont{
   position: absolute;
    margin-top: 10vh;
    margin-left: 40vh;
}