<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/app.component.css">
  <link rel="stylesheet" href="/src/styles.css">
</head>

<body>

  <div class="nav">
    <h1 class="quotify">Quotify</h1>
    <a link href="#">home</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a link href="#">about</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a link href>Quote</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a link href="#">Contact us</a>&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <div class="intro">
    <h1>Welcome to Quotify.</h1>
    <p>Where deep meets deeper..</p>

    <!-- <h2> where deep meets deeper</h2> -->
  </div>
  <div>
    <app-about></app-about>
    <app-form></app-form>
  
    <app-details></app-details>

  </div>
  <div class="copy">
    <div class="follow">
      <h1 class="contact"><u>follow us</u></h1>
      <p class="info">instagram: @Quotify</p>
      <p class="info">Facebook : @Quotify_it</p>
      </div>
      <div class="stylecont">
    <h1 class="contact"><u>contact us</u> </h1>
    <p class="info"> Telephone : +254 04158134</p>
    <p class="info"> email : smetto20@gmail.com</p>
      </div>
    
  </div>
</body>

</html>